<main class="flex flex-col justify-center items-center gap-10 w-full">
	<h1 class="text-6xl font-bold">ToDo App</h1>
	<form class="b-form flex gap-5 relative" (submit)="addTask()">
		<tui-input
			class="w-72"
			[required]="true"
			(ngModelChange)="onInput()"
			[(ngModel)]="newTask"
			[ngClass]="{ 'border-red-400 focus:outline-red-400': isInputEmty }"
			name="newTask"
			type="text"
		>
			{{ editingTodo ? "Edit todo" : "Add new todo" }}
		</tui-input>
		<button tuiButton type="submit">
			{{ editingTodo ? "Save ✔" : "Add Task" }}
		</button>
		<div
			*ngIf="isInputEmty"
			class="text-red-400 absolute -bottom-1/2 left-0"
		>
			Please enter a description
		</div>
	</form>
	<div class="todo-app">
		<ul class="task-list">
			<app-todo-list
				*ngFor="let todo of todos"
				[todo]="todo"
				(deleteTask)="deleteTask(todo)"
				(editTask)="editTask(todo)"
				(toggleComplete)="toggleComplete(todo)"
			>
			</app-todo-list>
		</ul>
	</div>
</main>
